<!doctype html>
<html>
    <head>
    	<title>{% block title %} CheckMyChords {% endblock %}</title>
	    <meta charset="utf-8">
	    <style>
			body {
				background-color: #101010;
				color: #F0F0F0;
			}
		</style>
		{% block scripts %}{% endblock %}
    </head>
    <body>
    	<div>
        {% block content %}
        {% endblock %}
        </div>
        <br><br><br><br>
        <footer>
        	<p><small>Date: {{ date }}</small></p>
        	<p><small>Version: {{ version }}</small></p>
        </footer>
    </body>
</html>


