{% extends "base.html" %}
{% load poll_extras %}

{% block title %}
	CMC - check piece
{% endblock %}

{% block content %}
	<h1>CMC - checked piece: {{ piece.title }} in {{ piece.key_hr}}</h1>
	<div>
		<ul style="font-family: monospace;">
			<li> S: {{ piece.parts_hr.S|spacify}} </li>
			<li> A: {{ piece.parts_hr.A|spacify}} </li>
			<li> T: {{ piece.parts_hr.T|spacify}} </li>
			<li> B: {{ piece.parts_hr.B|spacify}} </li>
		</ul>
	</div>
	<div>
		<h3>Total errors: {{ piece.err_count }}</h3>
		{% if piece.err_count > 0 %}
		<div>
			<h4>Error list:</h4>
			<ul>
				{% for err_class in piece.err_detailed %}
					<li>{{ err_class.0 }}: {{ err_class.1 }}
						<ul>
						{% for err in err_class.2 %}
							<li> {{ err }} </li>
						{% endfor %}
						</ul>	
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<h3>Total warnings: {{ piece.war_count }}</h3>
		{% if piece.war_count > 0 %}
		<div>
			<h4>Warnings list:</h4>
			<ul>
				{% for war_class in piece.war_detailed %}
					<li>{{ war_class.0 }}: {{ war_class.1 }}
						<ul>
						{% for war in war_class.2 %}
							<li> {{ war }} </li>
						{% endfor %}
						</ul>	
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	<br>
	</div>
		<h3>Specify which rules you want to use and check the piece again:</h3>
		<form method = 'post'>
		{% csrf_token %}
		{{ form.as_p}}
		<input type= submit value="Aplly selected rules">
	</div>
{% endblock %}

